
<html>
<head>
<script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
<title>createMenu</title>
</head>

<body>
	<p>菜单</p>

	<table id="tb" border="1"
		style="border-collapse: collapse; width: 650px;">
		<tr>
			<th>选择</th>
			<th>供应商</th>
			<th>餐名</th>
			<th>单价</th>
		</tr>
		<#list list as list>
		<tr>
			<td><input type="checkbox" name="checkbox" /></td>
			<td>${list.producer}</td>
			<td>${list.meal}</td>
			<td>${list.price}</td>
		</tr>
		</#list>
	</table>
	请填写日期（例：201807010） 
	<input type="number" id="date1" style="width: 120px" /><br>
		请填写截至日期（例：20180708）
		<input type="number" id="endDate" style="width: 120px" /><br>
			请填写截至时间（例：22:00） 
			<input type="text" id="endTime" style="width: 120px" /><br>
	<input type="button" id="btn" value="提交" />

	<script>
      $("#btn").on("click", function(event) {
    	  var date1 = $("#date1").val();
		  if(!date1||!$.trim(date1)||date1==0){
    		  alert("请输入日期!");
    		  return false;
    	  }
		  var endDate = $("#endDate").val();
		  if(!endDate||!$.trim(endDate)||endDate==0){
    		  alert("请输入截至日期");
    		  return false;
    	  }
		  if(endDate>date1){
			  alert("截止日期不能大于订餐日期");
    		  return false;
		  }
		  var endTime = $("#endTime").val();
		  if(!endTime||!$.trim(endTime)){
    		  alert("请输截至时间!");
    		  return false;
    	  }
    	  //alert("btn");
    	  var orderData = [];
    	  var i = 0 ;
    	  $("[type='checkbox']:checked").each(function(chk){
    		  //我想吧checkbox所在行的数据取出来放到下面orderData中
    		  var tmp =$(this).parent().parent().children();
    		  orderData[i] = {"date":date1,"meal":tmp.eq(2).text(),"producer":tmp.eq(1).text(),"price":tmp.eq(3).text(),"endDate":endDate,"endTime":endTime};
    		  i=i+1;
    	  });
    	  if(i>0){
    	  $.ajax({
				type : "POST", // 使用post方式
				url : "/mealOrderSystem/createNewMenu/",
				contentType : "application/json",
				data : JSON.stringify({
					orderData
				}), // 参数列表，stringify()方法用于将JS对象序列化为json字符串
				//dataType : "String",//预期服务器返回的数据类型。如果不指定，jQuery 将自动根据 HTTP 包 MIME 信息来智能判断
				success : function(result) {
					// 请求成功后的操作
					alert(result);
					//刷新页面
					window.location.reload();
				},
				error:function(result){
					alert('错误');
			    },
			    complete:function(){
			        console.log('结束')
			    }
			});
    	  }else{
    		  alert("填写错误，请重新输入！");
    		  return false;
    	  }
      });
      </script>
</body>

</html>
